# Rutas
MODELO_YOLO_PATH=models/best.pt
DATABASE_URL=sqlite:///./detector_placas.db

# Detección YOLO
UMBRAL_CONFIANZA_DETECCION=0.5
RECORTE_SUPERIOR_PCT=0.70
FACTOR_ESCALA_OCR=3.0

# OCR EasyOCR
IDIOMAS_OCR=en
USAR_GPU=true
UMBRAL_CONFIANZA_OCR=0.3

# Persistencia: true=SQLite, false=memoria
USAR_BASE_DATOS=true

# Cámara por defecto si no se especifica
CAMARA_POR_DEFECTO=1